*{margin:0; padding:0}
body{}
.all{width:1100px; height:550px; margin:0 auto}
.header{width:1100px; height:120px; margin:0 auto; margin-top:20px}
.logo{float:left; margin-top:6px}
.logo a{}
.nav{float:left; margin-left:100px; margin-top:5px}
.nav ul li{list-style:none; float:left; margin-right:30px}
.left{float:left; width:150px; height:430px;}
.right{float:left; width:946px; height:430px}
.search{float:right; margin-top:15px; position:relative}
.search img{position:absolute; left:-25px;}
.left ul li{width:145px; height:45px; list-style:none; margin-bottom:10px}
.right ul li{width:935px; height:430px; list-style:none; background-color:#fff; float:right}